<?xml version="1.0"?>
<Events>
    <SupportURL>https://github.com/mlamoure/</SupportURL>
    <Event id="doorbellMotion">
        <Name>Doorbell Event</Name>

  		<ConfigUI>
		<Field type="menu" id="eventType" defaultValue="doorbell_motion_detected">
			<Label>Popup Menu:</Label>
			<List>
				<Option value="doorbell_motion_detected">Motion Detected</Option>
				<Option value="doorbell_call_missed">Missed Call / Visitor</Option>
				<Option value="any">Any motion or doorbell event</Option>
			</List>
		</Field>
			<Field type="menu" id="maxLatency" defaultValue="60">
				<Label>Maximum Latency:</Label>
				<List>
					<Option value="5">5 Seconds</Option>
					<Option value="10">10 Seconds</Option>
					<Option value="20">20 Seconds</Option>
					<Option value="30">30 Seconds</Option>
					<Option value="45">45 Seconds</Option>
					<Option value="60">60 Seconds</Option>
					<Option value="90">90 Seconds</Option>
					<Option value="7200">No Limit</Option>
				</List>
			</Field>
		</ConfigUI>

    </Event>
    <Event id="lockByPerson">
        <Name>Lock or Unlock by a known person</Name>
        <ConfigUI>
		    <Field id="txtName" type="textfield">
		        <Label>Contains in the name (first or last name, ignoring case):</Label>
		    </Field>

			<Field type="menu" id="lockUnlock" defaultValue="unlocked">
				<Label>Lock Status:</Label>
				<List>
					<Option value="lock">Locked</Option>
					<Option value="unlock">Unlocked</Option>
					<Option value="any">Has any change</Option>
				</List>
			</Field>
			<Field type="menu" id="maxLatency" defaultValue="60">
				<Label>Maximum Latency:</Label>
				<List>
					<Option value="5">5 Seconds</Option>
					<Option value="10">10 Seconds</Option>
					<Option value="20">20 Seconds</Option>
					<Option value="30">30 Seconds</Option>
					<Option value="45">45 Seconds</Option>
					<Option value="60">60 Seconds</Option>
					<Option value="90">90 Seconds</Option>
					<Option value="7200">No Limit</Option>
				</List>
			</Field>

			<Field type="checkbox" id="chkIncludeRemote" defaultValue="false"><Label>Include Remote Updates</Label><Description>Remote updates are status changes to the lock that occur over the internet and not through Bluetooth or Keypad</Description></Field>

			<Field type="checkbox" id="chkIncludeHomeKit" defaultValue="false"><Label>Include HomeKit Updates</Label><Description>HomeKit Updates are impossible to detect if they come through the internet or on the local network, so you wont know if the person is standing outside the door, or on the other side of the world.</Description></Field>

        </ConfigUI>

    </Event>
    <Event id="lockByUnknownPerson">
        <Name>Lock or Unlock by a unknown person</Name>
  		<ConfigUI>
		<Field type="menu" id="lockUnlock" defaultValue="unlocked">
			<Label>Popup Menu:</Label>
			<List>
				<Option value="lock">Locked</Option>
				<Option value="unlock">Unlocked</Option>
				<Option value="any">Has any change</Option>
			</List>
		</Field>
			<Field type="menu" id="maxLatency" defaultValue="60">
				<Label>Maximum Latency:</Label>
				<List>
					<Option value="5">5 Seconds</Option>
					<Option value="10">10 Seconds</Option>
					<Option value="20">20 Seconds</Option>
					<Option value="30">30 Seconds</Option>
					<Option value="45">45 Seconds</Option>
					<Option value="60">60 Seconds</Option>
					<Option value="90">90 Seconds</Option>
					<Option value="7200">No Limit</Option>
				</List>
			</Field>
		</ConfigUI>
    </Event>

    <Event id="invalidCode">
        <Name>Invalid Code</Name>
  		<ConfigUI>
			<Field type="menu" id="maxLatency" defaultValue="60">
				<Label>Maximum Latency:</Label>
				<List>
					<Option value="5">5 Seconds</Option>
					<Option value="10">10 Seconds</Option>
					<Option value="20">20 Seconds</Option>
					<Option value="30">30 Seconds</Option>
					<Option value="45">45 Seconds</Option>
					<Option value="60">60 Seconds</Option>
					<Option value="90">90 Seconds</Option>
					<Option value="7200">No Limit</Option>
				</List>
			</Field>
		</ConfigUI>
    </Event>

</Events>